@import 'libs/commons';

.app {
    display: flex;
    &__productListContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__product {
        background: $color-secondary-3;
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
        min-width: 210px;
        max-width: 210px;
        text-align: center;
    }
    &__title {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        @include ecartfont($h5, $color-primary-1);
    }

    &__image {
        height: 220px;
        display: flex;
        margin: auto;
        width: 180px;
    }

    &__details {
        align-items: center;
        padding: 5px;
        white-space: nowrap;
    }

    &__display {
        display: inline-block;
        text-decoration: line-through;
        text-decoration-color: $color-secondary-1;
        text-decoration-style: solid;
        color: $color-primary-1;
    }
    &__actual {
        @include ecartfont($h5 , $color-primary-1);
        font-weight: 700;
    }
    &__discount {
        position: absolute;
        background: $color-secondary-2;
        color: $color-primary-2;
        top: 10px;
        left: -15px;
        display: block;
        padding: 2px 8px;
    }

    &__img-holder {
        position: relative;
    }
    &__button {
        border-radius: 4px;
        border: 1px solid $color-secondary-4;
        outline: none;
        cursor: pointer;
    }
    &__button:hover {
        color: $color-secondary-2
    }

    .cart-header {
        font-weight: bold;
        font-size: 1.25em;
        color: $color-primary-1;
    }

    .cart-column {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $color-primary-1;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .cart-row {
        display: flex;
    }

    .cart-item {
        width: 45%;
    }

    .cart-price {
        width: 20%;
        font-size: 1.2em;
        color: #333;
    }

    .cart-quantity {
        width: 35%;
    }

    .cart-item-title {
        color: #333;
        margin-left: 0.5em;
        font-size: 1.2em;
    }

    .cart-item-image {
        width: 75px;
        height: auto;
        border-radius: 10px;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 5px;
    }
    .btn-danger {
        color: white;
        background-color: #eb5757;
        border: none;
        border-radius: 0.3em;
        font-weight: bold;
    }

    .btn-danger:hover {
        background-color: #cc4c4c;
    }

    .cart-quantity-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid #56ccf2;
        background-color: #eee;
        color: #333;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;
    }

    .cart-row:last-child {
        border-bottom: 1px solid black;
    }

    .cart-row:last-child .cart-column {
        border: none;
    }

    .cart-total {
        margin-top: 10px;
        margin-right: 10px;
    }

    .cart-total-title {
        font-weight: bold;
        font-size: 1.5em;
        color: black;
        margin-right: 20px;
    }

    .cart-total-price {
        font-size: 1.1em;
        @include ecartfont($h5, $color-primary-1);
    }


}
